@using WriterBlog.Entities.Concrete.Dtos;
@model Message2Dto
@{
	ViewData["Title"] = "MessageDetails";
	Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>MessageDetails</h1>
<br />

@Html.Label("Mesaj Id Id")
@Html.TextAreaFor(x=>x.Id,new{@class="form-control"})
<br />
@Html.Label("Mesaj Konusu")
@Html.TextAreaFor(x=>x.Subject,new{@class="form-control"})
<br />
@Html.Label("Mesaj İçeriği")
@Html.TextAreaFor(x=>x.MessageDetails,20,3,new{@class="form-control"})
<br />

<button class="btn btn-success">Mesajlara Dön</button>


