@using WriterBlog.Entities.Concrete.Dtos;
@model BlogDto

@{
    ViewData["Title"] = "UpdateBlog";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Blog Düzenleme Sayfası</h1>
<br />
@using (Html.BeginForm("UpdateBlog", "Blog", FormMethod.Post))
{
    @Html.Label("Blog Id")
    @Html.TextBoxFor(x=>x.Id,new{@class="form-control"})
    <br />
    @Html.Label("Blog Başlığı")
    @Html.TextBoxFor(x=>x.Title,new{@class="form-control"})
    <br />
    @Html.Label("Blog Görseli URL")
    @Html.TextBoxFor(x=>x.Image,new{@class="form-control"})

    <br />
    @Html.Label("Blog Küçük Görseli URL")
    @Html.TextBoxFor(x=>x.ThumbnailImage,new{@class="form-control"})

    <br />
    @Html.Label("Kategori")
    @Html.DropDownListFor(x=>x.CategoryId,(List<SelectListItem>)ViewBag.cvupdate,new {@class="form-control"})

    <br />
    @Html.Label("Blog İçeriği")
    @Html.TextAreaFor(x=>x.Content,10,3, new{@class="form-control"})
    <br />
    @Html.TextAreaFor(x=>x.WriterId, new{@class="form-control"})
    <br />
    <button class="btn btn-success">Yazıyı Güncelle</button>

}
